<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<!-- Spring, MyBatis 연결부분 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
    
    	<!-- 계정, url, driver class선언한 XML 파일 -->
        <property name="dataSource" ref="dataSource" />
        
        <!-- SQL문이 있는 XML 파일 -->
        <property name="mapperLocations" value="classpath:/mapper/**/*_SQL.xml" />
    </bean>
     
    <!-- SqlSession을 구현하고, 코드에서 sqlsession을 대체하는 역할 -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSession"/>
    </bean>  
</beans>